<h2> Current Comment: </h2>

<p> <%= @comment.content %> </p>

<h3> Edit below </h3>

<form method="post" action="/topics/<%= @topic.id %>/comments/<%= @comment.id %>/edit">

    <input type="hidden" name="_method" value="patch">
    <textarea name="content" cols="100" rows="10"><%= @comment.content %></textarea>
    <br>
    <input type="submit" value="Edit Comment">
    <button> Close </button>

</form>
