<% if @user %>
 
  <h1> Welcome <%= @user.username %>! You're looking fly as fuck, today!</h1>

<% else %>

  <h1> Welcome to Fly As Fuck Forum! </h1>
  <a href="/register"> Not a member? Register here!</a>
  <a href="/log-in"> Already a member? Log in!</a>

<% end %>

<!-- LINK TO BOARDS -->
<a href="/boards">Enter!</a>


<!-- REGISTER FORM MODAL -->
<div id="register-modal">
  <div id="register-modal-content">
    
    <form method="post" action="/register">

      <label for="name">Name:</label>
      <input type="text" placeholder="name" name="name">
      <br>
      <label for="username">Username:</label>
      <input type="text" placeholder="username" name="username">
      <br>
      <label for="profile_pic">Profile Picture:</label>
      <input type="text" placeholder="image url" name="profile_pic">

    </form>
  </div> <!--register-modal-content-->
</div> <!--register-modal -->

<!-- LOG IN FORM MODAL -->
<div id="login-modal">
  <div id="login-modal-content">
    
    <form method="post" action="/login">

      <label for="username">Username:</label>
      <input type="text" placeholder="username" name="username">

    </form>
  </div> <!--log-in-modal-content-->
</div> <!--log-in-modal -->





