<body>

  <div class="index-page">

    <header>

      <h1> Fantastic Peeps And Where to Find Them </h1>

      <% if @user %>
        
        <h1> Welcome <%= @user.username %>! You look fantastic, today! </h1>

        <a href="/topics"> Room of Requirement!</a>
        <br>
        <a href="/users"> Fantastic Peeps </a>
        <br>

        <form method="post" action="/sessions">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Logout">
        </form>

      <% else %>
        
        <a href="/topics">Room of Requirement!</a>
        <br>

        <p>Not a member? 
          <a id="main-reg-btn" class="register-btn" href="#">Register here!</a>
        </p>

        <p>Already a member? 
          <a id="main-login-btn" class="login-btn" href="#"> Log in!</a>
        </p>

      <% end %>

      <br>

    </header>


    <% if @password_message %>
     
      <h3> <%= @password_message %> </h3>

    <% elsif @username_message %>
     
      <h3> <%= @username_message %> </h3>

    <% elsif @incorrect_info %>

      <h3> <%= @incorrect_info %> </h3>

    <% end %>



  </div> <!-- index page -->
</body>




