<!DOCTYPE html>
<html>
<head>
  <title>Fantastic Peeps And Where to Find Them</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/js/main.js"></script>
</head>

<body>

  <header>

    <h1> Fantastic Peeps And Where to Find Them </h1>

    <a href="/"> Home </a>
    <a href="/topics"> Room of Requirement </a>

    <% if session[:user_id] %>

    <a href="/users"> Fantastic Peeps </a>

    <form method="post" action="/sessions">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Logout">
    </form>

    <% else %>

    <a href="/login">Login!</a>
    <a href="/login">Sign Up!</a>

    <% end %>

  </header>

  <%= yield %>

</body>
</html>