
<!-- <div id="login" class="modal-container">
  <div class="modal-content">
     -->
    <a id="close-login-btn" class="close-btn" href="/">Close</a>
    <p>Not yet a member? <a class="register-btn" href="/register">Register here!</a>
    <form method="post" action="/login">

      <label for="username">Username:</label>
      <input type="text" placeholder="Username" name="username">
      <br>
      <button>Log in!</button>

    </form>
    
<!--   </div>
</div>  -->