<h2> Log In </h2>

<form method="post" action="/sessions">

  <label for="username">Username:</label>
  <input type="text" placeholder="Username" name="username">

  <br>

  <label for="password">Password:</label>
  <input type="password" placeholder="password123" name="password">

  <button>Log in!</button>

</form>

<h2> Or Register </h2>

<form method="post" action="/users">

  <label for="name">Name:</label>
  <input type="text" placeholder="Name" name="name">

  <br>

  <label for="username">Create a username:</label>
  <input type="text" placeholder="Username" name="username">

  <br>

  <label for="password">Password:</label>
  <input type="password" placeholder="password123" name="password">

  <br>

  <label for="password_confirmation">Confirm Password:</label>
  <input type="password" placeholder="password123" name="password_confirmation">

  <br>

  <button>Register!</button>

</form>
