
<!-- <div id="register" class="modal-container">
  <div class="modal-content"> -->
    
    <a id="close-reg-btn" class= "close-btn" href="/">Close</a>
    <p>To be part of the conversation, register below</p>
    <p>Already a member? <a class="login-btn" href="/login"> Log in!</a>

    <form method="post" action="/register">
      <label for="name">Name:</label>
      <input type="text" placeholder="Name" name="name">
      <br>
      <label for="username">Create a username:</label>
      <input type="text" placeholder="Username" name="username">
      <br>
      <label for="profile_pic">Profile Picture:</label>
      <input type="text" placeholder="image url" name="profile_pic">
      <br>
      <button>Register!</button>

    </form>
    
<!--   </div> 
</div>  -->