<a href="/"> Back </a>

<div class="new-topic-container">

  <form method="post" action="/topics/new">

    <label for="title"> <strong> Title: </strong> </label>
    <br>
    <textarea name="title" cols="100" rows="1"></textarea>
    
    <br>
    
    <label for="content"> <strong> Write your post! </strong> </label>
    <br>
     <textarea name="content" cols="100" rows="20"></textarea>

    <br>

    <button> Save </button>

  </form>

</div>