<form method="post" action="/topics/new">

  <label for="title"> Title: </label>
  <br>
  <textarea name="title" cols="100" rows="1"></textarea>
  
  <br>
  
  <label for="content"> Write your post! </label>
  <br>
   <textarea name="content" cols="100" rows="20"></textarea>

  <br>

  <input type="submit" name="Save">

</form>

