body {
  font-family: helvetica;
  background: #BBBBBB;
}

button {
  cursor: pointer;
}

header {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/62/9d/6c/629d6c062d74a99979c7b04accc11115.gif");
  background-position: center;
  color: #4F628E;
  text-align: center;
  border: 3px solid #4F628E;
}

h1 {
  font-size: 60px;
  text-shadow: 3px 3px #000000;
  font-weight: bold;
}

#h1-1 {
  margin-bottom: 0px;
}

#h1-2 {
  margin-top: 0px;
}

#menu-bar {
  background: white;
  display: block;
  border-top: 3px solid #4F628E;
  padding: 1%;
}

#menu-bar a {
  color: #4F628E;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none; 
  margin-left: 20px;
  margin-right: 20px;
  float: left;
  padding-top: 10px;
}

#menu-bar a:hover {
  color: #67989A;
}

#login-menu {
  margin-left: 75%;
  padding-bottom: 3%;
}

#logout-btn {
  cursor: pointer;
  margin-left: 300px;
  border: none;
  background: none;
  color: #4F628E;
  font-weight: bolder;
  font-size: 20px;
  padding-top: 1%;
}

#logout-btn:hover {
  color: #67989A;
}

.topic-div {
  border-top: 1px solid black;
}

.comment-content {
  border-top: 1px solid black;
}













