body {
  font-family: helvetica;
  background: #EEEEEE;
}

button {
  cursor: pointer;
}

header {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/62/9d/6c/629d6c062d74a99979c7b04accc11115.gif");
  background-position: center;
  color: #705395;
  text-align: center;
  border: 3px solid #35185A;
}

header h1 {
  font-size: 60px;
  text-shadow: 3px 3px #000000;
  font-weight: bold;
}

header h3 {
  color: #83F9E9;
}

#h1-1 {
  margin-bottom: 0px;
}

#h1-2 {
  margin-top: 0px;
}

#menu-bar {
  background: white;
  display: block;
  border-top: 3px solid #35185A;
  padding: 1%;
}

#menu-bar a {
  color: #35185A;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none; 
  margin-left: 20px;
  margin-right: 20px;
  float: left;
  padding-top: 10px;
}

#menu-bar a:hover {
  color: #27F8DB;
  text-decoration: underline;
}

#login-menu {
  margin-left: 75%;
  padding-bottom: 3%;
}

#logout-btn {
  cursor: pointer;
  margin-left: 450px;
  border: none;
  background: none;
  color: #35185A;
  font-weight: bolder;
  font-size: 20px;
  padding-top: 1%;
}

#logout-btn:hover {
  color: #27F8DB;
  text-decoration: underline;
}

.close-btn {
  text-decoration: underline;
  cursor: pointer;
  float: right;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.modal-content {
  position: relative;
  background-position: center;
  background-color: white;
  width: 40%;
  margin: 0 30%;
  margin: 150px auto;
}


/* HOME PAGE */

#new-topic {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
}

#new-topic a {
  color: #35185A;
  font-weight: bold;
}

#new-topic a:hover {
  color: #705395;
}

.topic-div {
  border: 2px solid #35185A;
  width: 80%;
  margin: 1% auto;
  display: center;
  background: #CCCCCC;
}

.topic-div h2 {
  margin-top: 0px;
  background: #35185A;
  font-size: 25px;
  padding: 1%;
}

.topic-div a {
  color: white;
}

.topic-div a:hover {
  color: #83F9E9;
  text-decoration: underline;
}

.topic-div p {
  margin-left: 3%;
  color: #35185A;
}

.topic-div p a {
  color: #35185A;
  margin-right: 35%;
}

.topic-div p a:hover {
  color: #705395;
  text-decoration: underline;
  font-weight: bolder;
}

.topic-div button {
  margin-left: 3%;
}

.topic-div button:hover {
  color: #705395;
  font-weight: bolder;
}

.votes-div {
  background: #AAAAAA;
  padding-top: 1%;
  padding-bottom: 1%;
}

.votes-div p {
  display: inline;
}

.votes-div form {
  display: inline;
}


/* SHOW TOPIC PAGE */

.topic-container {
  border: 2px solid #35185A;
  width: 80%;
  background: #CCCCCC;
  margin: 0 auto;
}

h2 {
  margin-top: 0px;
  margin-bottom: .5%;
  background: #35185A;
  font-size: 25px;
  padding: 1%;
  color: white;
}

.topic-container a {
  color: #705395;
  padding: 2%;
}

.topic-container a:hover {
  font-weight: bolder;
  color: #705395;
}

.topic-content {
  background: #EEEEEE;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
  border: 1px solid #35185A;
}


/* COMMENTS */

.comment-container {
  margin-top: 1%;
  border-bottom: 1px solid #35185A;
  margin-bottom: .5%;
}

.comment-container p {
  padding-left: 2%;
}

.comment-content {
  background: #EEEEEE;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
  border: 1px solid #35185A;
}

.likes-div {
  background: #AAAAAA;
  padding-top: 1%;
  padding-bottom: 1%;
}

.likes-div p {
  display: inline;
  padding-right: 3%;
}

.likes-div form {
  display: inline;
}

button:hover {
  color: #705395;
  font-weight: bolder;
}

.add-comment {
  margin-left: 3%;
  padding-bottom: 1%;
}


/* EDIT TOPIC */

.topic-form {
  margin-left: 5%;
  margin-top: 2%;
}


/*EDIT COMMENT*/

.back-btn:hover {
  color: #705395;
  font-weight: bolder;
}

.edit-comment-container {
  border: 1px solid #35185A;
  background: #AAAAAA;
}





